*~
.*.swp
.DS_Store
.ipynb_checkpoints
.idea
.git
*.log
*.pdf
*.db
*.old
*.xml
data/source/*.csv
data/*.csv
*.env
config/credentials*
config/credencials*
*credentials*
*credencials*
data/results
venv
archives
old

cluster.py

__pycache__

